@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*{
    margin:0;
    padding:0;
}

.row{
    height: 50%;
}


#grilla{
    display: grid;
}

#grilla_index{
    display: grid;
}

main{
    background-color: black;
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;
    background-color: rgb(0, 162, 255);
}

li{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}






#index_services{
    display:flex;
    width: 100%;
    background-color: rgb(90, 90, 90);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


p{
    color: #ffffff;
    font-size: 20px;
}


#cat_img{
    width: 100%;
    height: 100%;
object-fit:contain;
}

#menus {
color:#ffffff;
display: inline;
overflow: hidden;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 50px;
top: 0;
}
h6{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
}
h2{
    font-size:50px;
    color:rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }

   #main_contacto{
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 47, 47);
    justify-content: space-evenly;
  
  }
  #contact_form{  
      width: 460px; 
      height: 650px;
      margin: 80px auto;
      border-radius: 10px;  
      padding-top: 30px;
      padding-bottom: 20px;  
      background-color: #636161; 
      padding-left: 30px; 
    }
  
    input{
      background-color: #fbfbfb; 
      width: 408px; 
      height: 40px; 
      border-radius: 5px;  
      border-style: solid; 
      border-width: 1px; 
      border-color: #000000; 
      margin-top: 10px;  
      padding-left: 10px;
      margin-bottom: 20px; 
    }
    
    
    textarea{
      background-color: #fbfbfb; 
      width: 405px; 
      height: 150px; 
      border-radius: 5px;  
      border-style: solid; 
      border-width: 1px; 
      border-color: #000000; 
      margin-top: 10px;  
      padding-left: 10px;
      margin-bottom: 20px; 
      padding-top: 15px; 
    }
    
    
    label{
      display: grid; 
      float: center;  
    }
    
    
    button_c{
      height: 45px; 
      padding-left: 5px;
      padding-right: 5px;   
      margin-bottom: 20px; 
      margin-top: 10px;   
      text-transform: uppercase;
      background-color: #ab4493; 
      border-color: #ab4493; 
      border-style: solid; 
      border-radius: 10px;  
      width: 420px;   
      cursor: pointer;
    }




footer p{
    color:white;
    font-size: 20px;
}



/*Mobile*/
@media only screen and ( max-width:600px){


    header{
        height: 400px;
    }

    #grilla{
        height: 1600px;
        grid-template-columns: 90%;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
        grid-template-areas: "lugar1"
                             "lugar2"
                             "lugar3"
                             "lugar4"
                             "lugar5"
                             "lugar6";

        align-content: space-around;
        justify-content: center;
    }

    #grilla_index{
        height: 1600px;
        grid-template-columns: 90% ;
        grid-template-rows: 30% 30% 30% ;
        grid-template-areas: "area1"
                             "area2"
                             "area3";
        justify-content: center;
        align-content: space-around;
        
    }

    #grilla_QS{
        height: 600px;
        grid-template-columns: 90% ;
        grid-template-rows: 30% 30% 30% ;
        grid-template-areas: "area1"
                             "area2"
                             "area3";
        justify-content: center;
        align-content: space-around;
        
    }

    ul{
        height: 300px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }

    

    footer{
        
        height: 300px;
        background-color: rgb(0, 162, 255);    }
}






/*MD*/
@media only screen and ( min-width:600px){


    header{
        height: 500px;
    }

    #grilla{

        height: 1700px;
        grid-template-columns: 40% 40%;
        grid-template-rows: 500px 500px 500px;
        grid-template-areas: "lugar1 lugar2"
                             "lugar3 lugar4"
                             "lugar5 lugar6";
        justify-content: space-evenly;
        align-content: space-around;



    }

    #grilla_index{
        height: 1700px;
        grid-template-columns: 90% ;
        grid-template-rows: 30% 30% 30% ;
        grid-template-areas: "area1"
                             "area2"
                             "area3";
        justify-content: center;
        align-content: space-around;



    }

    #grilla_QS{
        height: 600px;
        grid-template-columns: 90% ;
        grid-template-rows: 30% 30% 30% ;
        grid-template-areas: "area1"
                             "area2"
                             "area3";
        justify-content: center;
        align-content: space-around;
        
    }

    ul{
        height: 150px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;


    }
    #contact_form{  
        width: 460px; 
        height: 650px;
        margin: 80px auto;
        border-radius: 10px;  
        padding-top: 30px;
        padding-bottom: 20px;  
        background-color: #636161; 
        padding-left: 30px; 
      }


    footer{
        height: 200px;
        background-color: rgb(0, 162, 255);
        }


}



/* Monitor PC */

@media only screen and ( min-width:992px){

    #grilla{
        height: 1700px;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 600px 600px;
        grid-template-areas: "lugar1 lugar2 lugar3"
                             "lugar4 lugar5 lugar6";
    }

    #grilla_index{
        height: 1700px;
        grid-template-columns: 90% ;
        grid-template-rows: 30% 30% 30% ;
        grid-template-areas: "area1"
                             "area2"
                             "area3";
        justify-content: center;
        align-content: space-around;                       
    }

    #grilla_QS{
        height: 600px;
        grid-template-columns: 90% ;
        grid-template-rows: 30% 30% 30% ;
        grid-template-areas: "area1"
                             "area2"
                             "area3";
        justify-content: center;
        align-content: space-around;
        
    }

    footer{
        display:flex;
        height: 150px;
        background-color: rgb(0, 162, 255);
        }

   

}

#padre{

    background-color: rgb(206, 141, 110);
    height: 500px;
}


.row{
    height: 50%;
}


#hijo_uno{
    background-color: rgb(137, 82, 82);
}

#hijo_dos{
    background-color: rgb(82, 137, 114);
}

#hijo_tres{
    background-color: rgb(87, 82, 137);
}

#hijo_4{
    background-color: rgb(137, 82, 127);
}

#hijo_5{
    background-color: rgb(182, 208, 66);
}

#hijo_6{
    background-color: rgb(73, 220, 159);
}


.bi-basket-fill{
    font-size:30px;
}

.bi-youtube{
    font-size:190px;
    color:gray;
}

.bi-youtube:hover{
    color:red;
}